/* Cuerpo de la consola */

#baseConsola {

    background-color: red;
    position: relative;
    left: 30%;
    right: 30%;
    top: 5vh;
    width: 27vw;
    height: 87vh;

    border-radius: 10px 10px 50px 10px;
    box-shadow: 10px 5px 10px 10px;
    border: 3px solid black;
}

/* Detalle extremo superior de la consola */

#header {
    display: grid;
    height: 6%;
    grid-template-columns: 10% 80% 10%;
}

.boxGrid {
    border-bottom: 3px solid darkred;
}

#boxGridIzq {
    border-right: 3px solid darkred;
}

#boxGridDer {
    border-left: 3px solid darkred;
}

/* Parte superior de la consola */

#divSuperior {
    position: absolute;
    top: 8%;
    left: 9%;
    right: 9%;
    width: 82%;
    height: 33vh;
    background: rgb(143, 140, 140);
    background: linear-gradient(0deg, rgba(143, 140, 140, 1) 0%, rgba(35, 35, 35, 1) 100%);
    border-radius: 10px 10px 50px 10px;
    border: 2px solid black;
}

/* Pantalla de juego */

#divPantalla {
    position: absolute;
    top: 10%;
    left: 18%;
    right: 18%;
    bottom: 10%;
    width: 64%;
    height: 80%;
    background: rgb(26, 88, 26);
    background: linear-gradient(0deg, rgba(26, 88, 26, 1) 6%, rgba(7, 27, 7, 1) 72%);

    border: 2px solid black;
}

#indicadorBateria {
    position: relative;
    top: 35%;
    width: 1.4vh;
    height: 1.4vh;
    border-radius: 50%;
    background-color: black;
    left: 5%;

}

/* Detalles laterales de la pantalla */

#simboloBateria {
    position: relative;
    top: 15%;
    left: 9%;
    color: white;
    font-size: 1.7vh;
}

#textoBateria {
    position: relative;
    top: 33%;
    left: 2.5%;
    color: white;
    font-size: 1.3vh;
}

#logo {
    position: absolute;
    top: 47%;
    left: 10%;
    width: 50%;
    height: 3%;
}

/* Parte inferior de la consola */

#divInferior {
    position: absolute;
    top: 53%;
    left: 2%;
    right: 2%;
    width: 95%;
    height: 40vh;
}

/* Cruceta direccional */

#cruceta {
    position: absolute;
    top: 5%;
    left: 8%;
    display: grid;
    grid-template-columns: 2vw 2vw 2vw;
    grid-template-rows: 2vw 2vw 2vw;
    width: 30%;
    height: 40%;
}

.cruceta {
    background-color: rgb(35, 34, 34);
    border: outset rgb(26, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;
}

#crucetaArriba {
    grid-column: 2;
    border-bottom: none;
}

#crucetaAbajo {
    grid-column: 2;
    grid-row: 3;
    border-top: none;
}

#crucetaDer {
    grid-column: 3;
    grid-row: 2;
    border-left: none;
}

#crucetaIzq {
    grid-column: 1;
    grid-row: 2;
    border-right: none;
}

#crucetaCentro {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    grid-row: 2;
    border: none;
}

/* Detalles cruceta */

#circuloCruceta {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: rgb(82, 79, 79);
    background: linear-gradient(0deg, rgba(82, 79, 79, 1) 6%, rgba(11, 11, 11, 1) 44%);
}

#flechaArriba {

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}

#flechaAbajo {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

#flechaDer {
    border-left: 5px solid black;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
}

#flechaIzq {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid black;
}

/* Botones A y B */

#divBotonesAB {
    position: absolute;
    right: 4%;
    top: 10%;
    height: 7vw;
    width: 7vw;
}

.botonAB {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
    background: rgb(57, 57, 57);
    background: radial-gradient(circle, rgba(57, 57, 57, 1) 0%, rgba(0, 0, 0, 1) 100%);
    border-radius: 50%;
    border: groove 2px black;
    color: white;
    font-size: 3vh;
}

#botonB {
    bottom: 0;
}

#botonA {
    right: 0%;
}

/* Botones Inferiores */

#divBotonesInferiores {
    position: absolute;
    left: 35%;
    bottom: 30%;
    width: 25%;
    height: 15%;
}

.botonesInf {
    background: rgb(47, 46, 46);
    background: linear-gradient(0deg, rgba(47, 46, 46, 1) 6%, rgba(20, 19, 19, 1) 44%);
    position: absolute;
    width: 40%;
    height: 55%;
    border-radius: 50px 50px 50px 50px;
    border: inset black;
}

#botonStart {
    right: 0;
}

.textoBotonesInf {
    position: relative;
    top: 40%;
    left: 6%;
    color: white;
    font-size: 2vh;
}

/* Barras de sonido inferiores */

#divSonido {
    position: absolute;
    bottom: 4%;
    right: 5%;
    height: 40%;
    width: 20%;
    transform: rotate(65deg);
}

.barraSonido {
    background-color: grey;
    width: 100%;
    height: 8%;
    margin-top: 8%;
    border-radius: 30px;
    border: outset darkred;
    background: rgb(50, 48, 48);
    background: radial-gradient(circle, rgba(50, 48, 48, 1) 0%, rgba(114, 111, 111, 1) 100%);
}

/* Imagenes decorativas */

#imgPikachu {
    position: absolute;
    right: -2vh;
    width: 30%;
    height: 20%;
    top: 20%;
}

#imgPsyduck {
    position: absolute;
    bottom: 10%;
    height: 30%;
    width: 30%;
}

#imgLogo {
    position: absolute;
    height: 100%;
    width: 100%;
}